body {
  font-family: Karla;
}

h1 {
  font-family: Kanit;
  font-weight: 400;
  font-size: 8rem;
}

p {
  color: #757575;
}

.title {
  padding-top: 10%;
}
.cphgames {

}

.r6s {

}

.gomaestro {

}

.streamers {

}
.benelux {

}
